REDDIT_CLIENT_ID='<reddit-app-client-id>'
REDDIT_SECRET_TOKEN=<reddit-app-secret-token>
REDDIT_ACCESS_TOKEN='<run-reddit_token.py-for-value>'
DEV_GROUPME_BOT_ID='<dev-bot-id>'
PROD_GROUPME_BOT_ID='<prod-bot-id>'